# Add linux security modules removed by defconfig
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,selinux,bpf"

# Disable static usermode helper as there is currently no implementation
# for it
# CONFIG_STATIC_USERMODEHELPER is not set

# ARM SMMU is not available on Raspberry Pi 4, disable it
# CONFIG_ARM_SMMU is not set
# CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT is not set
# CONFIG_ARM_SMMU_V3 is not set
